/LLM/强化学习/10-supermario/pretrained_models
/LLM/强化学习/10-supermario/recordin*
/ToolsLearning/02-pytorch_lighting训练框架/checkpoints
/ToolsLearning/02-pytorch_lighting训练框架/data
/ToolsLearning/02-pytorch_lighting训练框架/logs
/AIGC/01-VAE/data
/AIGC/01-VAE/exp
/AIGC/02-VQ-VAE/exp
/AIGC/02-VQ-VAE/data
/AIGC/03-DiffusionModel/visual
/AIGC/03-DiffusionModel/data
/AIGC/03-DiffusionModel/ddpm_model.pth
/RecommendationSystem/movies_recommendation_demo/ml-1m
/RecommendationSystem/movies_recommendation_demo/ml-20m